.custom-body {
    background-color: rgba(58, 58, 58, 1);
    font-family: "Raleway";
}

.header-navbar{
    background-color: rgba(58, 58, 58, 1);
}

.navbar {
    max-width: 1090px;
    margin: 0 auto;
    height: 150px;
    display: flex;
    background-color: rgba(58, 58, 58, 1);
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    max-height: 100%;
}

.navbar-li {
    float: left;
    max-height: 100%;
}

.nav-link {
    display: block;
    color: rgba(67, 192, 188, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: darkgray;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-li {
        display: block;
    }
}

.navbar-brand {
    float: left;
    padding: 20px;
}

a {
    font-family: "Raleway";
    color: black;
    text-decoration: none;
}

.form-box {
    background-color: rgb(67, 192, 188);
    font-family: "Raleway";
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-evenly;
    max-width: 400px;
}

.title {
    text-align: center;
}

.button-form {
    background-color: rgb(139, 204, 202);
    height: 50px;
    border: 0;
    margin-top: 1em;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

#submeter {
    margin: 0 auto;
    max-width: 400px;
}

.form-header {
    width: 100%;
    background-color: #dcdcdc;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.margin-top-one {
    margin-top: 1em;
}

@media screen and (max-width: 750px) {
    .form-content {
        flex-wrap: wrap;
    }
}

.form-post {
    text-align: left;
}

.link {
    color: #3A3A3A;
}

.form-control {
    width: 100%;
    height: 30px;
    background-color: #e5e5e5;
    border-radius: 2px;
    padding-left: 4px;
    font-size: 14px;
}



.redes {
    width: 45%;
    margin-right: 1%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

.insta {
    margin-right: 100px;
}

.face {
    margin-right: 100px;
}

.logo-footer {
    max-width: 1090px;
    margin: 0 auto;
    text-align: center;
}

.footer-text {
    color: rgba(252, 255, 255, 1);
    font-size: 16px;
    text-align: center;
}

.footer-bar {
    background-color: rgba(67, 192, 188, 1);
    bottom: 0;
}

