body {
    background-color: #333333;
}

.link {
    color: #3A3A3A;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    color: white;
}

#header-img {
    height: 60px;
    margin-right: 20px;
    align-content: flex-start;
}

.footer-main {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(116, 116, 116);
    color: black;
    margin: 0%;
    padding: 0%;
}

.logotipo {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.logotipo img {
    width: 2%;
    vertical-align: middle;
}

.redes {
    width: 100%;
    text-align: center;
}

.redes img {
    width: 3%;
}

.redes ul li {
    list-style-type: none;
    display: inline;
}

@media only screem and (min-width: 450px) and (max-width: 768px) {
    .footer-main {
        clear: both;
        width: 100%;
    }
    .logotipo {
        width: 50%;
        float: left;
        text-align: left;
    }
    .redes {
        width: 50%;
        float: right;
    }
}

@media only screem and (min-width: 769px) {
    .footer-main {
        clear: both;
        width: 100%;
        margin-bottom: 3%;
    }
    .logotipo {
        font-size: 12px;
        width: 45%;
        float: left;
        text-align: center;
    }
    .logotipo img,
    .redes img {
        width: 10%,
    }
    .redes {
        width: 45%;
        float: right;
        margin-right: 1%;
        text-align: center;
    }
}

.insta {
    width: 100%;
    text-align: center;
    background-color: rgb(139, 204, 202);
    margin: 0px;
    padding: 0%;
}

.insta img {
    width: 10%;
}