body {
    background-color: rgba(58, 58, 58, 1);
    font-family: "Raleway";
}

.navbar-brand {
    float: left;
    padding: 20px;
}

.navbar {
    max-width: 1090px;
    margin: 0 auto;
    height: 150px;
    display: flex;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    max-height: 100%;
}

.navbar-li {
    float: left;
    max-height: 100%;
}

.nav-link {
    display: block;
    color: rgba(67, 192, 188, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: darkgray;
    background-color: black;
}

@media screen and (max-width: 600px) {
    /* .navbar-li.navbar-brand.right,
    .navbar-li, .navbar-brand {float: none;}
    .navbar-link {font-size: 16px;} */
    .navbar {
        flex-direction: column;
    }
    .navbar-li {
        display: block;
    }
}

.cover-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    position: relative;
    float: none;
}

.grid {
    display: grid;
    max-width: 1090px;
    margin: 0 auto;
}

.grid-column-1 {
    grid-template-columns: 400px 690px;
    /* Testar */
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;
}

.experiencia-img {
    width: 670px;
    height: 534px;
    margin: 0;
    float: right;
}

.post-title {
    color: rgba(67, 192, 188, 1);
    font-size: 28px;
    text-align: left;
    line-height: 40px;
}

.post-content {
    color: rgba(252, 255, 255, 1);
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

.button {
    background: rgba(67, 192, 188, 1);
    color: rgba(252, 255, 255, 1);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-style: bold;
    float: left;
}

.grid-column-2 {
    grid-template-columns: 544px 483px;
}

.automacao-img {
    width: 483px;
    height: 309px;
    margin: 0;
    margin-bottom: 20px;
    float: left;
}

.ecommerce-img {
    width: 483px;
    height: 309px;
    margin: 0;
    margin-bottom: 20px;
    float: right;
}

.content-right {
    float: right;
}

.post-title-2 {
    color: rgba(67, 192, 188, 1);
    font-size: 28px;
    text-align: left;
    line-height: 40px;
    float: left;
    max-width: 483px;
}

.paragraph-text {
    max-width: 483px;
    float: left;
}

.grid-column-3 {
    grid-template-columns: 320px 448px 320px;
}

.chatbot-img {
    width: 320px;
    height: 280px;
    float: left;
    margin-bottom: 30px;
}

.cargos-ti {
    width: 320px;
    height: 280px;
    margin-left: 64px;
    margin-right: auto;
}

.ebook-thumbnail {
    width: 320px;
    height: 320px;
    float: right;
}

.subtitle {
    font-size: 18px;
    font-style: bold;
    color: rgba(67, 192, 188, 1);
    text-align: center;
}

.redes {
    width: 45%;
    margin-right: 1%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

.insta {
    margin-right: 100px;
}

.face {
    margin-right: 100px;
}

.logo-footer {
    max-width: 1090px;
    margin: 0 auto;
    text-align: center;
}

.footer-text {
    color: rgba(252, 255, 255, 1);
    font-size: 16px;
    text-align: center;
}

.footer-bar {
    background-color: rgba(67, 192, 188, 1);
    bottom: 0;
}

@media (min-width: 600px) {
    .grid-column-1 {
        grid-column: span 2;
        grid-row: span 2;
    }
}